
.wrapper {
   margin: 0;  
}
.display {
   margin: 0 auto;
   height: 97vh;
   width: 175vh;
 background: url("display.jpg") center/cover no-repeat;
 position: relative;
 display: flex;
}

.ramka {
   box-sizing: border-box;
   border: 2px solid #dcab57;
   border-bottom: 5px solid #dcab57;
   background-color: #d5e2de85;
   position: absolute;
   left: 14vh;
   top: 17vh;
   height: 67vh;
   width: 28vh;
   overflow: hidden;
  
}
.ramka2 {
   left: 43.5vh;
   top: 16.5vh;
}
.ramka3 {
   left: 73vh;
   top: 16.5vh;
}
.ramka4 {
   left: 101.5vh;
   top: 16.5vh;
}
.ramka5 {
   left: 132vh;
   top: 16.5vh;
}
.column {
   background-color: aliceblue;
   position: absolute;
   width: 26vh;
   height: 4000px;
   left: 1vh;
   top: 1vh;
  margin-top: -5800px;
}
.column2 {
   margin-top: -5800px;
}
.column3 {
   margin-top: -5800px;
}
.column4 {
   margin-top: -5800px;
}
.column5 {
   margin-top: -5800px;
}

.column img {
   height: 22vh;
   margin-bottom: -1vh;
}

.finish-img {
   display: flex;
   box-sizing: border-box;
   position: absolute;
   left: 14vh;
   top: 17vh;
   height: 67vh;
   width: 147vh;
}

.line {
   position: absolute;
   left: 0vh;
   top: -1vh;
   height: 67vh;
   width: 28vh;
   overflow: hidden;
}
.line2 {
   left: 29vh;
}
.line3 {
   left: 59vh;
}
.line4 {
   left: 89vh;
}
.line5 {
   left: 118vh;
}
.result { 
   height: 22vh;
}

.red {
   height: 23vh;
   margin-top: 1px;
}

.anim {
   animation-name: move;
   animation-duration: 5s;
   /* animation-iteration-count: infinite; */
   /* animation-fill-mode: forwards; */
   
}

@keyframes move {
   100% {
      margin-top: -100px;
   }
}

/* .start {
   position: absolute;
   width: 25vh;
    bottom: 1vh;
    right: 13vh;
    background-color: red;
    padding: 3px;
} */
.reload {
   margin: 29px;
    position: absolute;
    left: 0;
    top: 0;
}

.opacity {
   opacity: 0;
}

.control__panel {
   position: absolute;
    margin-top: -42px;
    margin-left: 47px;
    /* bottom: 0;
    left: 66; */
    color: white;
    line-height: 1;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2vh;
    width: 80%;
    background-color: #836e52;
}

.panel__windows {
   display: flex;
    justify-content: space-between;
    
}

.df {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: space-between;
}

.window {
   background-color: black;
   color: aliceblue;
   width: 10vh;
   font-size: 3vh;
   border-radius: 4px;
   margin-left: 2vh;
}

.panel__buttons {
   margin-bottom: 3px
}

.pan-btn {
   padding: 1vh;
   border: 1px solid black;
   padding: 1vh 6vh 1vh 6vh;
}