

.wrapper {
   margin: 0;
   
}
.display {
   margin: 0 auto;
   height: 97vh;
   width: 175vh;
 background: url("display.jpg") center/cover no-repeat;
 position: relative;
 display: flex;
}

.ramka {
   box-sizing: border-box;
   border: 2px solid #dcab57;
   border-bottom: 5px solid #dcab57;
   background-color: #d5e2de85;
   position: absolute;
   left: 14vh;
   top: 17vh;
   height: 67vh;
   width: 28vh;
   overflow: hidden;
  
}
.ramka2 {
   left: 43.5vh;
   top: 16.5vh;
}
.ramka3 {
   left: 73vh;
   top: 16.5vh;
}
.ramka4 {
   left: 101.5vh;
   top: 16.5vh;
}
.ramka5 {
   left: 132vh;
   top: 16.5vh;
}
.column {
   /* border: 2px solid #dcab57; */
   background-color: aliceblue;
   position: absolute;
   width: 26vh;
   height: 4000px;
   left: 1vh;
   top: 1vh;
  margin-top: -5800px;
}
.column2 {
   margin-top: -5800px;
}
.column3 {
   margin-top: -5800px;
}
.column4 {
   margin-top: -5800px;
}
.column5 {
   margin-top: -5800px;
}

.column img {
   height: 22vh;
   margin-bottom: -1vh;
}

.finish-img {
   display: flex;
   box-sizing: border-box;
   position: absolute;
   left: 14vh;
   top: 17vh;
   height: 67vh;
   width: 147vh;
}

.line {
   /* background-color: #13c58f85; */
   position: absolute;
   left: 0vh;
   top: -1vh;
   height: 67vh;
   width: 28vh;
   overflow: hidden;
}
.line2 {
   left: 29vh;
}
.line3 {
   left: 59vh;
}
.line4 {
   left: 89vh;
}
.line5 {
   left: 118vh;
}
.result { 
   height: 22vh;
}

.red {
   height: 23vh;
   margin-top: 1px;
}

.anim {
   animation-name: move;
   animation-duration: 5s;
   /* animation-iteration-count: infinite; */
   /* animation-fill-mode: forwards; */
   
}

@keyframes move {
   100% {
      margin-top: -100px;
   }
}

.start {
   position: absolute;
   width: 25vh;
    bottom: 1vh;
    right: 13vh;
    background-color: red;
    padding: 3px;
}
.reload {
   margin: 29px;
    position: absolute;
    left: 0;
    top: 0;
}

.opacity {
   opacity: 0;
}